extends layout

block content
	h2= title
	h2 Welcome to #{title}
		div
			button.btn.btn-default.btn-lg.btn-block(ng-if="!showPosts" ng-click="loadPosts()","toggle()" title="click to search") Find Posts
			button.btn.btn-default.btn-lg.btn-block(ng-if="showPosts" ng-click="hidePosts()","toggle()" title="click to search") Hide Posts

			table#posts
				thead
					tr
						th#rowName #
						th#rowName Title
						th#rowName Body
					tbody
						tr(ng-repeat="post in posts")
							td#rows {{$index}}
							td#rows {{post.title}}
							td#rows {{post.body}}


