extends layout

block content
	div(ng-controller="MainController")
		h2 {{title}}
		div(ng-switch="switch_key")
			div(ng-switch-when="home")
				include home.jade
			div(ng-switch-when="posts")
				include post.jade
			div(ng-switch-when="about")
				include about.jade
			div(ng-switch-when="users")
				include users.jade
			div(ng-switch-default)
				include about.jade



