doctype html
html(ng-app='ngMyApp')
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		script(src='javascripts/vendors/jQuery.min.js')
		script(src='javascripts/vendors/angular.min.js')
		script(src='javascripts/destination/app.min.js')
	body
		nav.navbar.navbar-inverse
			div.container-fluid
				div.navbar-header
					a.navbar-brand(href="#")
						img#logo(alt="Brand" src="http://www.hypersloth.co.uk/images/logo.png")
		div(ng-controller='MainController')
			h2 {{title}}
			
			block content


