doctype html
html(ng-app='ngMyApp')
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='javascripts/vendors/jQuery.min.js')
		script(src='javascripts/vendors/angular.min.js')
		script(src='javascripts/destination/app.min.js')
	body
		div(ng-controller='mainController')
			h2 {{title}}
			block content