doctype html
html(ng-app="ngMyApp")
	head
		title= title
		base(href='/')
		link(rel="stylesheet" href="bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="/stylesheets/style.css")
		script(src="javascripts/vendors/jQuery.min.js")
		script(src="bootstrap/js/bootstrap.min.js")
		script(src="/angular/angular.js")
		script(src="/angular-route/angular-route.js")
		script(src="javascripts/destination/app.min.js")
	body(class="{{bodylayout}}")
		nav.navbar.navbar-inverse.navbar-fixed-top
			div.container-fluid
				div.navbar-header
					a.navbar-brand(href="/")
						sloth-logo
					ul.nav.navbar-nav.navbar-right
						li 
							a(href="/posts") Posts
						li 
							a(href="/users") Users
						li 
							a(href="/about") About
						li 
							a(ng-hide="currentUser" href="/login") Login
						li 
							a(ng-show="currentUser" href="/logout" target="_self") LogOut
						
		div(ng-view)
		nav.navbar.navbar-inverse.navbar-fixed-bottom
			div.container-fluid
				div.navbar-header
					p.footer This is my awesome footer fixed to the bottom!