h2
	span Login page

div(ng-controller="LoginController")
	.row.enterInfo
		form.col.s12(action="/login", method="post", novalidate) 
				div.form-group
					.input-field.col.s6
						label.loginForm Username
						input.form-control(type="text", name="username", required, data-required-msg='Username is required')
				div.form-group
					.input-field.col.s6
						label.loginForm Password
						input.form-control(type="password", name="password", required)
						button.btn.waves-effect.waves-light.log(type="submit") Log in
		a(href="/auth/google/" target="_self")
			button.btn.waves-effect.waves-light.log.google Google
			//- div 
			//- 	.ui.animated.button.logGoogle(tabindex='0')
			//- 		.visible.content Google
			//- 		.hidden.content
			//- 			i.right.arrow.icon

		a(href="/auth/facebook/" target="_self")
			button.btn.waves-effect.waves-light.log.facebook Facebook
			//- div 
			//- 	.ui.animated.button.logFacebook(tabindex='0')
			//- 		.visible.content Facebook
			//- 		.hidden.content
			//- 			i.right.arrow.icon



	//- div 
	//- 				.ui.animated.button.logLocal(type="submit", tabindex='0')
	//- 					.visible.content Log In
	//- 					.hidden.content
	//- 						i.right.arrow.icon

