div(ng-controller="NotAllowedController")
	div.sorryNotAllowed
		p.sorryNotAllowed  You are not allowed to register :-( You have to be older than 5. 
		br
		p.sorryNotAllowed  But check this out: 
			a(href="http://www.sesamestreet.org/",target="_blank") Click