div(ng-controller="SignupController")
	h2 Sign Up!!!
.row.enterInfo
	form.col.s12(name="anyName")
		.row
			.input-field.col.s6
				input#first_name.validate(placeholder='Your First Name', type='text', required, ng-model="objectToSend.firstName")
				i.fa.fa-user.fa-lg
				label(for='first_name') First Name

		.row
			.input-field.col.s6
				input#last_name.validate(placeholder='Your Last Name', type='text', required, ng-model="objectToSend.lastName")
				i.fa.fa-user.fa-lg
				label(for='last_name') Last Name
				button.btn.waves-effect.waves-light(type="submit", name="action", ng-click="verify(objectToSend)", ng-disabled="anyName.$invalid") Next


