div(ng-controller="SuccessController")
	div.success
		p.success Great job! Go ahead and LogIn 
		br
		p.success Just click the  
			a(ng-click="successRedirect()") link
			p.success and use the following credntials:
		br
		p.success Username: Nastia 
		p.success Password: nastia